@page
@model EmbeddedHelpPage.Pages.Articles.DigitalInfoModel
@{
}
<article>
    <h2>Digital Information: Bits, Nibbles, Bytes and Words</h2>
    <p><em>January 25th, 2021</em> by <b>Liam</b></p>
</article>
