@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Embedded Info Center!</h1>

</div>
<div class="form-text">
    <p>
        I wrote this blog-type information repository (and continue to
        update it) for 2 reasons. First and foremost, this site is meant to be
        a resource for engineering students and assist them in working through
        understanding the basics of embedded systems. Secondly, I use this site
        as a database for personal use whenever I am working on am embedded project
        and need to refer back to basic concepts or previous work. This site is organized
        into two sections: <b>Tutorials</b> and <b>Background Knowledge</b>. The <b>Tutorials</b>
        section focuses on applications of concepts explored in the <b>Background Knowledge</b>
        section, with targeted; specific goals. The <b>Background Knowledge</b> takes a more
        general approach to basic concetps related to embedded systems; categorized by <b>Hardware</b>
        and <b>Software</b> articles. Feel free to point out any errors / suggestions or contribute by
        sending me an email at <a href="mailto:liam.ward144@gmail.com">liam.ward144@gmail.com</a>. Thanks
        for checking out the site!
    </p>
</div>

<!--Embedded image-->
<div class="row">
    <div class="col-12 text-center mb-3">
        <figure class="figure">
            <img src="~/images/circuitBoard-1.jpg" />
            <figcaption class="figure-caption">Source: https://xvision.technology/</figcaption>
        </figure>
    </div>
</div>
<!--About me card-->
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card mt-auto">
            <div class="card-header">
                <h2>About me</h2>
            </div>
            <div class="card-body">
                <p>
                    My name is Liam and I am an Embedded Systems enthusiast and an Engineering Physics
                    student at McMaster University in Hamilton, Ontario. If you would like to know a
                    bit more about me and my personal projects, or would like to get in touch, please visit
                    my <a target="_blank" href="https://williamwardprofilesite.azurewebsites.net/">Personal Profile Site</a>!
                </p>
            </div>
        </div>
    </div>
    <div class="col-3"></div>

</div>
